@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background: #000000;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background: #000000;
  display: flex;
}

.menu {
  display: inline-block;
  background: #1c1c1c;
  border-radius: 50px;
  padding: 20px 20px;
  margin-left: 200px;
  text-align: right;
}

.menu a {
  font-size: 15px;
  color: #ffffff;
  margin-left: 20px;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.menu a:hover {
  color: #e75f00;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #e75f00;
  border-radius: 50px;
  font-size: 15px;
  margin-left: 200px;
  color: #ffffff;
  transition: 0.2s ease;
}

.btn:hover {
  box-shadow: 0 0 40px #e75f00;
}

.social-media {
  display: inline-block;
  justify-content: space-between;
  margin-left: 200px;
}

.social-media img {
  width: 40px;
  height: 40px;
  justify-content: space-between;
  margin-left: 20px;
}

.hero {
  background-image: url("Assets/background.png");
  background-size: cover;
  background-position: center;
  height: 1800px;
  width: auto;
  display: flex;
  background-color: #1c1c1c;
}

.hero-left-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.hero-left-text h2 {
  font-size: 60px;
}

.hero-left-text h1 {
  font-size: 70px;
  color: #e75f00;
}

.hero-left-text h3 {
  font-size: 45px;
  color: #a6a6a4;
}

.hero-right-text {
  text-align: left;
  position: absolute;
  top: 45%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.hero-right-text p {
  font-size: 18px;
}

.search input[type="text"] {
  width: 250px;
  height: 25px;
  border-radius: 25px;
  border: none;
  background-color: #1c1c1c;
  color: #f2f2f2;
}

.search {
  display: inline-block;
  background: #1c1c1c;
  border-radius: 50px;
  padding: 10px 10px;
}

.search button {
  background-color: #1c1c1c;
  color: #f2f2f2;
  cursor: pointer;
}

.down{
display: flex;
}

.bottom-text {
  text-align: left;
  position: absolute;
  top: 280%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #e75f00;
}

.bottom-text h2 {
  font-size: 70px;
}

.bottom-text h1 {
  font-size: 60px;
  color: #a6a6a4;
}

.bottom-text h3 {
  font-size: 45px;
  color: #a6a6a4;
}

.btn1 {
  display: inline-block;
  padding: 10px 30px;
  background: #e75f00;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 450px;
  margin-bottom: 200px;
  color: #ffffff;
  transition: 0.2s ease;
}

.btn1:hover {
  box-shadow: 0 0 40px #e75f00;
}

.btn2 {
  display: inline-block;
  padding: 10px 30px;
  background: #e75f00;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 100px;
  color: #ffffff;
  transition: 0.2s ease;
}

.btn2:hover {
  box-shadow: 0 0 40px #e75f00;
}

.circle-container {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    left: 180%;
    top: 204px;
}

.circle-image {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-image:nth-child(1) { transform: translate(-50%, -50%) rotate(0deg) translate(150px) rotate(0deg); }
        .circle-image:nth-child(2) { transform: translate(-50%, -50%) rotate(72deg) translate(150px) rotate(-72deg); }
        .circle-image:nth-child(3) { transform: translate(-50%, -50%) rotate(144deg) translate(150px) rotate(-144deg); }
        .circle-image:nth-child(4) { transform: translate(-50%, -50%) rotate(216deg) translate(150px) rotate(-216deg); }
        .circle-image:nth-child(5) { transform: translate(-50%, -50%) rotate(288deg) translate(150px) rotate(-288deg); }